.pagingContainer {
    display: flex;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;

    /* background-color: white; */
    z-index: 50;
}
