.headerImg {
    width: 100%;
    max-width: 575px;
}

.tab{
    color: rgba(255, 255, 255, 0.7);
    &.Mui-selected {
      color: #fff;
    }
    &.Mui-focusVisible {
      background-color: rgba(100, 95, 228, 0.32);
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.content {
    position: relative;
    width: 100%;
}