video {
  max-width: 100%;
}

/* START: table */
table {
    max-width: 100%;
    background-color: transparent;
    empty-cells: show
}

table code {
    white-space: normal
}

th {
    text-align: left
}

table {
    width: 100%;
    margin-bottom: 1.6rem;
    border-spacing: 0;
    border-collapse: separate
}

table>tbody>tr>td,table>tbody>tr>th,table>tfoot>tr>td,table>tfoot>tr>th,table>thead>tr>td,table>thead>tr>th {
    padding: .7rem;
    line-height: 1.6;
    vertical-align: top;
    border-top: 1px solid #ddd
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd
}

table>caption+thead>tr:first-child>td,table>caption+thead>tr:first-child>th,table>colgroup+thead>tr:first-child>td,table>colgroup+thead>tr:first-child>th,table>thead:first-child>tr:first-child>td,table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

table>tbody+tbody tr:first-child td {
    border-top: 2px solid #ddd
}

table {
    border: 1px solid #ddd;
    border-left: none
}

table>tbody>tr>td,table>tbody>tr>th,table>tfoot>tr>td,table>tfoot>tr>th,table>thead>tr>td,table>thead>tr>th {
    border-left: 1px solid #ddd
}

table>tbody>tr:first-child>td,table>tbody>tr:first-child>th {
    border-top: none
}

table>thead+tbody>tr:first-child>td,table>thead+tbody>tr:first-child>th {
    border-top: 1px solid #ddd
}

table {
    border: 1px solid #ddd;
}

table>thead>tr:first-child>td:first-child,table>thead>tr:first-child>th:first-child {
    border-top-left: 2px;
    border-left: none
}

table>thead>tr:first-child>td:last-child,table>thead>tr:first-child>th:last-child {
    border-top-right: 2px;
    border-right: none
}

table>tbody>tr>td:first-child,table>tbody>tr>th:first-child {
    border-left: none
}

table>tbody>tr>td:last-child,table>tbody>tr>th:last-child {
    border-right: none
}

table>tbody>tr:last-child>td,table>tbody>tr:last-child>th {
    border-bottom: none
}

table>tbody>tr:last-child>td:first-child,table>tbody>tr:last-child>th:first-child {
    border-bottom-left: 2px
}

table>tbody>tr:last-child>td:last-child,table>tbody>tr:last-child>th:last-child {
    border-bottom-right: 2px
}

table>tbody>tr:nth-child(odd)>td,table>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9
}

table>tbody>tr:hover>td,table>tbody>tr:hover>th {
    background-color: #e9e9e9
}
/* END: table */
