.articleContentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

// .articleContent {
//     max-width: 900px;
//     width: 100%;
// }

.title {
    text-align: center;
    padding: 20px 0px;
    text-wrap: balance;
    // max-width: 100%;
}

.description {
    // color: #666;
    // border: 1px solid #dedede;
    padding: 10px;
    // margin-top: 5px;
    // background: #f9f9f9;
    // border-radius: 2px;
}

.headerImg {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.commentSection {
    padding: 40px 0;
}

.verticalPadding {
    padding-top: 20px;
    padding-bottom: 20px;
    // padding-left: 5px;
    // padding-right: 5px;
}

.spaceBottom {
    margin-bottom: 20px;
}

.article {
    img, video {
        max-width: 100%;
    }
}
